div{border:3px solid #DD0000; padding: 6px; color: #000; background: #EEEEEE; font-family:"Courier";font-weight:bold; padding: 1px 1px 1px 1px; margin: 2px;}
td{ border:3px solid #DD0000; padding: 6px; color: #000; background: #EEEEEE;}
.data{color: blue;}
